@import "tailwindcss";

html, body {
  /* Set base height to full for Next.js App Router */
  height: 100%;
  margin: 0;
  padding: 0;
  /* Make all scroll behavior smooth, which is great for single-page links (#events) */
  scroll-behavior: smooth; 
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  text-transform: uppercase;
}

@keyframes neonPulse {
    0% {
        box-shadow: 0 0 5px #FF9FFC, 0 0 10px #ff2929;
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        box-shadow: 0 0 20px #FF9FFC, 0 0 40px #ff2929; /* Brighter, wider glow */
        transform: scale(1.2);
        opacity: 1;
    }
}